<ion-view view-title="Кинотеатры">
    <ion-content>
        <div class="card"
             ng-repeat="item in cinemas"
             ui-sref="app.cinema({
              cinemaId: item.id,
              data: item,
              })">
            <div class="item no-padding">
                <div class="row no-padding">
                    <div class="col col-33 no-padding">
                        <div class="item item-image">
                            <img ng-src="{{item.photo}}">
                        </div>
                    </div>
                    <div class="col col-67 ">

                        <div class="heading">
                            <div class="title">
                                <h2>{{item.name}}</h2>
                            </div>
                            <div class="film-genre">
                                <p>{{item.address}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </ion-content>

</ion-view>

