<ion-view view-title="Kino.kz">
    <ion-content>
        <ion-tabs class="tabs-striped tabs-my">

            <ion-tab title="Премьеры">
                <!-- Tab 1 content -->
                <ion-content class="secondary-content">

                    <div class="card" ng-repeat="item in premieres"  ui-sref="app.movie({ movieId: item.id })">
                        <div class="item item-age">
                            <div class="row">
                                <div class="col col-33">
                                    <div class="item item-image">
                                        <img ng-src="{{item.big_poster}}">
                                    </div>
                                </div>
                                <div class="col col-67">
                                    <div ng-if="item.age" class="circle age">
                                        <span>{{item.age}}+</span>
                                    </div>
                                    <div class="heading">
                                        <div class="title">
                                            <h2>{{item.nameRus}}</h2>
                                        </div>
                                        <div class="film-genre">
                                            <p>{{item.genre}}</p>
                                        </div>
                                    </div>


                                    <div class="item item-text-wrap">
                                        <div class="present">
                                            {{item.presentation}}
                                        </div>
                                        <div class="premiere">
                                            с {{item.premiereKaz}}
                                        </div>

                                    </div>

                                </div>
                            </div>


                        </div>

                    </div>
                </ion-content>
            </ion-tab>

            <ion-tab title="Ближайшие сеансы">
                <!-- Tab 2 content -->
                <ion-content class="secondary-content ">

                    <div class="list">

                        <a class="item item-thumbnail-left item-thumbnail-left" ng-repeat="item in schedule"
                           ui-sref="app.movie({ movieId: item.m.id })">
                            <img class="big_poster thumbnail" ng-src="{{item.m.big_poster}}">

                            <h2>Кинотеатр: {{getCinemaName(item.cin.id)}}</h2>

                            <h2>Начало в: {{item.t | onlyTime}}</h2>

                            <h2>{{item.m.nameRus}}</h2>

                            <p>{{item.m.genre}}</p>
                        </a>


                    </div>
                </ion-content>
            </ion-tab>

            <ion-tab title="Кинотеатры рядом">
                <!-- Tab 2 content -->
                <ion-content class="secondary-content ">

                    <div class="card"
                         ng-repeat="item in cinemas"
                         ui-sref="app.cinema({
              cinemaId: item.id,
              data: item,
              })">
                        <div class="item not-padding">
                            <div class="row">
                                <div class="col col-33">
                                    <div class="item item-image">
                                        <img ng-src="{{item.photo}}">
                                    </div>
                                </div>
                                <div class="col col-67">

                                    <div class="heading">
                                        <div class="title">
                                            <h2>{{item.name}}</h2>
                                        </div>
                                        <div class="film-genre">
                                            <p>{{item.address}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </ion-content>
            </ion-tab>


        </ion-tabs>

    </ion-content>
</ion-view>
