<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            

            <ion-nav-buttons side="left"  right-buttons="rightButtons">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>
            <ion-nav-back-button>
            </ion-nav-back-button>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">
        <ion-header-bar class="bar-with-header">
            <div class="header-logo">
               </div>
                <select ng-options="city.name for city in cities track by city.id" ng-model="myCity.data" ng-change="cityFunc.set()">

                </select>
            

        </ion-header-bar>
        <ion-content class="has-image" >

            <ion-list>
                <ion-item menu-close href="#/app/main">
                    Главная
                </ion-item>
                <ion-item menu-close href="#/app/cinemas">
                    Кинотеатры
                </ion-item>
                <ion-item menu-close href="#/app/movies/0">
                    Сегодня в кино
                </ion-item>
                <ion-item menu-close href="#/app/top">
                    Лучшие фильмы
                </ion-item>
                <ion-item menu-close href="#/app/premiere">
                    Премьеры
                </ion-item>
				    <ion-item menu-close href="#/app/smsform">
                    Смс
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>