<ion-view view-title="О фильме">
    <ion-content>
        <div class="list">
            <div class="item" ng-if="Movie.video[0].url">
                <video width="100%" controls="controls" preload="none" poster="{{Movie.poster}}">
                    <source ng-src="{{trustSrc(Movie.video[0].url)}}" type="video/mp4"> Ваше приложение не поддерживает воспроизведение видео
                </video>
            </div>
            <div class="item">
                <div class="movie-title>">{{Movie.nameRus}}</div>
                <div class="movie-genre">{{Movie.genre}}</div>

            </div>
            <div class="item movie-info-wrapper">
                <dl>
                    <dt>Премьера РК: </dt>
                    <dd>{{Movie.premiereKaz}}</dd>
                    <dt>Производство: </dt>
                    <dd>{{Movie.production}}</dd>
                    <dt>Режиссер: </dt>
                    <dd>{{Movie.director}}</dd>
                </dl>
            </div>
            <div class="item">
                <dl>
                    <dt>В ролях: </dt>
                    <dd>{{Movie.premiereKaz}}</dd>
                </dl>
            </div>
            <div class="item item-text-wrap">
                <p>{{Movie.desc}}</p>
            </div>
            <div class="item">
                <div class="rating-block">
                    <small>Рейтинг</small>
                    <small>{{Movie.rating}}</small>
                </div>
                <ionic-ratings ng-if="ratingsObject" ratingsobj='ratingsObject'></ionic-ratings>
            </div>
            <div class="item">
                <a class="button button-positive big-icon" ui-sref="app.movie-schedule({
                movieID: Movie.id,
                filmData: {
                    name: Movie.nameRus,
                    genre: Movie.genre,
                    age: Movie.age,
                    poster: Movie.poster
                }
                })">
                    <i class="icon ion-ios-videocam"></i>
                    <small>Найти в кинотеатрах</small>
                </a>
            </div>

        </div>
    </ion-content>
</ion-view>
