<ion-view view-title="Отправить СМС">

       <ion-pane>

      <ion-content>
        <div class="list">
           <label class="item item-input">
            <span class="input-label">{{contact.displayname}}</span>
           
          </label>
          <label class="item item-input">
            <span class="input-label">Номер</span>
            <input type="text" ng-model="sms.number">
          </label>
          <label class="item item-input item-floating-label">
            <span class="input-label">Message</span>
            <textarea placeholder="Ваше сообщение" rows="4" cols="4" ng-model="sms.message">
         </textarea>
       
           </label>
             <button class="button button-full button-positive" ng-click="sendSMS()">
            Send SMS
          </button>
        </div>      
      </ion-content>
    </ion-pane>

    
</ion-view>