<ion-view view-title="Лучшие фильмы">
    <ion-content>
        <ion-tabs class="tabs-icon-top tabs-default tabs-my">

            <ion-tab title="По опросу" icon-on="ion-ios-filing" icon-off="ion-ios-filing-outline" badge="TopMovies.length">
                <!-- Tab 1 content -->
                <ion-content class="secondary-content">

                    <div class="card" ng-repeat="item in TopMovies" ui-sref="app.movie({ movieId: item.id })">
                        <div class="item item-age ">
                            <div class="row ">
                                <div class="col col-33 ">
                                    <div class="item item-image ">
                                        <img ng-src="{{item.big_poster}} ">
                                    </div>
                                </div>
                                <div class="col col-67 ">
                                    <div ng-if="item.age " class="circle age ">
                                        <span>{{item.age}}+</span>
                                    </div>
                                    <div class="heading ">
                                        <div class="title ">
                                            <h2>{{item.nameRus}}</h2>
                                        </div>
                                        <div class="film-genre ">
                                            <p>{{item.genre}}</p>
                                        </div>
                                    </div>
                                    <div class="item item-text-wrap ">
                                        <div class="present ">
                                            {{item.presentation}}
                                        </div>
                                        <div class="premiere ">
                                            с {{item.premiereKaz}}
                                        </div>
                                        <div class="rating ">
                                            <i class="ion-android-star-outline assertive "></i>
                                            <span>Рейтинг: {{item.rating}}</span>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </ion-content>
            </ion-tab>

            <ion-tab title="Ожидаемые " icon-on="ion-ios-clock " icon-off="ion-ios-clock-outline " badge="ExpectedMovies.length ">
                <!-- Tab 2 content -->
                <ion-content class="secondary-content ">

                    <div class="card " ng-repeat="item in ExpectedMovies "  ui-sref="app.movie({ movieId: item.id })">
                        <div class="item item-age ">
                            <div class="row ">
                                <div class="col col-33 ">
                                    <div class="item item-image ">
                                        <img ng-src="{{item.big_poster}} ">
                                    </div>
                                </div>
                                <div class="col col-67 ">
                                    <div ng-if="item.age " class="circle age ">
                                        <span>{{item.age}}+</span>
                                    </div>
                                    <div class="heading ">
                                        <div class="title ">
                                            <h2>{{item.nameRus}}</h2>
                                        </div>
                                        <div class="film-genre ">
                                            <p>{{item.genre}}</p>
                                        </div>
                                    </div>
                                    <div class="item item-text-wrap ">
                                        <div class="present ">
                                            {{item.presentation}}
                                        </div>
                                        <div class="premiere ">
                                            с {{item.premiereKaz}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ion-content>
            </ion-tab>


        </ion-tabs>

    </ion-content>
</ion-view>